@import './setup.scss';
@import './variables.scss';

html {
  font-size: 62.5%;
  color: $white;
  font-family: $body-font;
}

// canvas {
//   font-family: $body-font;
// }

.headerContainer {
  position: absolute;
  // top: 0;
  // right: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  text-decoration: none;
}

h1 {
  font-family: $header-font;
  font-size: 15rem;
  text-transform: uppercase;
}

h3 {
  font-size: 8rem;
}